@import 'bulma/sass/components/navbar';

.header {
  flex: none;
  background-color: $blue-dark;
  font-size: 0.9rem;

  .navbar-menu {
    text-transform: uppercase;
  }

  .navbar-burger {
    color: $white;

    @include mobile {
      width: 4.25rem;
    }
  }

  .globo-logo {
    background: url(http://s.glbimg.com/en/ho/static/rodape_globocom/img/logo_footer.svg?ec87d7347c11) no-repeat;
    background-position: left center;
    background-size: 5rem;
    padding-left: 5.5rem;
    font-weight: 300;

    @include mobile {
      margin-left: 1rem;
    }

    &:hover {
      color: $white;
    }
  }
}