@import 'bulma/sass/components/navbar';

.header {
  flex: none;
  // background-color: $blue-dark;
  font-size: 0.9rem;

  .navbar-menu {
    text-transform: uppercase;
  }

  .navbar-item {
    &:hover {
      background-color: transparent;
    }
  }

  .navbar-brand {
    a:hover {
      color: white;
    }
  }

  .navbar-burger {
    color: $white;
  }

  .globo-logo {
    margin-right: 0.3rem;
    width: 5rem;
    font-weight: $weight-light;
  }
}